[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic = "*"
uvicorn = "*"
fastapi = "*"
openai = "*"
pytest-cov = "*"
black = "*"
pypdf = "*"
requests = "*"
streamlit = "*"
dotenv = "*"
pdfplumber = "*"
pandas-stubs = "*"
langsmith = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
